<footer>
    <div class="container">
        <h4>Made with ❤️ by Ibrahim Olanrewaju</h4>
        <% const day = new Date() %>

        <p>Copyright <%= day.getFullYear() %></p>
    </div>
</footer>

</html>